body {
	font-family: "Arial";
	text-align: center;
}

h1 {
	text-align: center;
	padding: 40px;
}

#options {
	padding: 20px;
}

button {
	border-radius: 10%;
	margin: 10px;
	background-color: white;
}

.choice {
	margin: 30px;
	font-style: 120%;
}